#intro
  .title
    В каком случае сайт за
    %span.blue 6 000
    рублей
    %br
    будет лучше сайта за
    %span.red 30 000
    рублей?

  .button#show-form
    Хочу узнать

.form#order-form
  .wrapper

    .form-thank-you
      .thank-you-text
        .bolder.big Спасибо!
        Мы свяжемся с вами до
        %span.bolder 18:00
        ближайшего рабочего дня


    .form-block
      .form-title
        Оставьте заявку сейчас
        %br
        и мы с вами свяжемся в течение дня


      %form
        %input{type: :text, name: :username, placeholder: 'Как вас зовут?'}
        %input{type: :text, name: :phone, placeholder: 'Ваш номер телефона'}
        %input.last{type: :text, name: :email, placeholder: 'Ваш e-mail'}
        %input.long{type: :text, name: :message, placeholder: 'Введите ваше сообщение'}
        .add-message
          Добавить сообщение
        .button.centered#order-button
          Отправить
